---
import '../../styles/pages/page-loader.css';
---

<div id="page-loader">
  <div class="relative">
    <div class="text-5xl md:text-6xl font-extrabold text-gray-200 tracking-tight">
      Quién<span class="text-gray-200">Sabe</span>
    </div>
    <div class="absolute top-0 left-0 text-5xl md:text-6xl font-extrabold text-orange-500 tracking-tight page-loader-fill">
      Quién<span class="text-orange-500">Sabe</span>
    </div>
  </div>
  <p class="text-gray-400 text-sm mt-4 font-medium animate-pulse">Cargando barrio...</p>
</div>

<script>
  import { ocultarPageLoader } from '../../lib/client/home/page-loader';
  ocultarPageLoader();
</script>
